:root {
  --ticker-height: 20px;
  --toolbar-height: 80px;
  --content-area-height: calc(100vh - var(--ticker-height) - var(--toolbar-height));
  
  --color-ticker-bg: #d9ff7a;
  --color-super-bg: #faff7a;
  --color-content-bg: lightsalmon;

}
/* ========================================================================= */
html {
  height: 100%;
  overflow: hidden;
}
.main-container {
  height: 100vh;
  width: 100vw;
}
.super-background {
  background-color: #faff7a;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
/* =========================================================================
                        Ticker
========================================================================= */
.tools-ticker {
  position: absolute;
  top: 0;
  height: var(--ticker-height);
  z-index: 5;
  background-color: #d9ff7a;
  box-shadow: 0 0px 10px -4px black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.tools-ticker-text {
  margin-left: 16px;
  white-space: nowrap;
  text-overflow: clip;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
/* =========================================================================
                        Toolbar Area
========================================================================= */
.brand-area {
  position: absolute;
  top: var(--ticker-height);
  right: 0px;
  height: var(--toolbar-height);
  margin-left: auto; /* Push to the right side */
  display: flex;
  align-items: center;
  background-color: transparent;
}
.brand-label {
  margin-right: 16px;
}
.brand-button {
  margin-right: 32px;
  width: 48px; /* Set desired width */
  height: 48px; /* Set desired height */
  border: #FFFFFF10;
  background: white;
  border-radius: 100%;
  cursor: pointer;       /* Indicate clickability */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25); 
}
.brand-button:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); 
}
.brand-button:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .75); /* More distinct shadow on press */
  transform: scale(0.75); /* Slightly shrinks the icon on click */
}

/* =========================================================================
                        Content Area
========================================================================= */
.content-area {
  position: absolute;
  bottom: 0px;
  height: var(--content-area-height);
  left: 10px;
  right: 10px;
  background-color: lightsalmon;
  box-shadow: 0 0px 20px -4px black;
  z-index: 5;
}